<div ng-include="'components/navbar/navbar.html'"></div>


<!--<header class="hero-unit" id="banner">-->
  <!--<div class="container">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">Kick-start your next web app with Angular Fullstack</p>-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  <!--</div>-->
<!--</header>-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="simpleDemo row">


  <div id="top-level1" style="width: 2000px; height: 375px" >
    <div id="on-deck" style="width: 600px; height: 350px; display: inline; float: left" >
      <ul id="column-1" style="height: 318px; cursor: default;" class="laneContents connectedSortable"  >
        <!--#foreach( $vrefNextCard in $vrefCardList )-->
        <!--#card( $vrefNextCard )-->
        <!--#end-->
      </ul>
    </div>

    <div id="in-progress" style="width: 600px; height: 350px; display: inline; float: left" >
      <ul id="column-2" style="height: 318px; cursor: default;" class="laneContents connectedSortable"  >
        <!--#foreach( $vrefNextCard in $vrefCardList )-->
        <!--#card( $vrefNextCard )-->
        <!--#end-->
      </ul>
    </div>

    <div id="done" style="width: 600px; height: 350px; display: inline; float: left" >
      <ul id="column-3" style="height: 318px; cursor: default;" class="laneContents connectedSortable"  >
        <!--#foreach( $vrefNextCard in $vrefCardList )-->
        <!--#card( $vrefNextCard )-->
        <!--#end-->
      </ul>
    </div>
  </div>

  <div id="top-level2" style="width: 2000px; height: 375px" >
    <div id="on-deck2" style="width: 600px; height: 350px; display: inline; float: left" >
      <ul id="column-4" style="height: 318px; cursor: default;" class="laneContents connectedSortable"  >
        <!--#foreach( $vrefNextCard in $vrefCardList )-->
        <!--#card( $vrefNextCard )-->
        <!--#end-->
      </ul>
    </div>

    <div id="in-progress2" style="width: 600px; height: 350px; display: inline; float: left" >
      <ul id="column-5" style="height: 318px; cursor: default;" class="laneContents connectedSortable"  >
        <!--#foreach( $vrefNextCard in $vrefCardList )-->
        <!--#card( $vrefNextCard )-->
        <!--#end-->
      </ul>
    </div>

    <div id="done2" style="width: 600px; height: 350px; display: inline; float: left" >
      <ul id="column-6" style="height: 318px; cursor: default;" class="laneContents connectedSortable"  >
        <!--#foreach( $vrefNextCard in $vrefCardList )-->
        <!--#card( $vrefNextCard )-->
        <!--#end-->
      </ul>
    </div>
  </div>



  <div class="col-md-8">
    <div class="row">
      <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">List {{listName}}</h3>
          </div>
          <!--<div class="panel-body" ng-include="'simple.html'"></div>-->
          <ul dnd-list="list">
            <!-- The dnd-draggable directive makes an element draggable and will
                 transfer the object that was assigned to it. If an element was
                 dragged away, you have to remove it from the original list
                 yourself using the dnd-moved attribute -->
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-moved="list.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}"
            >
              {{item.label}}
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!--<div view-source="simple"></div>-->

  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Generated Model</h3>
      </div>
      <div class="panel-body">
        <pre class="code">{{modelAsJson}}</pre>
      </div>
    </div>
  </div>

</div>



<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
