.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.laneContents {
    background-color: #ECE8E0;
    border-color: #ECE8E0 #ECE8E0 #ECE8E0 #5BADE9;
    border-left: 1px solid #5BADE9;
    border-right: 1px dotted #ECE8E0;
    border-style: solid dotted solid solid;
    border-width: 1px;
    margin: 2px 0 0;
    min-height: 104px;
    padding: 0;
}
